.vscode/
__pycache__/
flask_session/
envfile
.venv/

# Selenium gecko driver log output
geckodriver.log

# Testing files
.pytest_cache/
/tests/integration/assets/
/tests/integration/report.html
geckodriver.log